<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8" http-equiv="refresh" content="1">
    <title>Debug Divs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</head>

<body id="main_body" class="m-2 bg-light-subtle d-flex flex-wrap justify-content-center">
    {% for s in services %}
    <div class="m-2 border {{'border-success' if s.online else 'border-danger'}} border-3" style="width: 200px">
        <div class="bg-body-tertiary d-flex flex-column align-items-center">
            <div class="bg-dark w-100">
                <h4 class="text-center text-truncate m-0" style="font-size: 1.5rem;">{{s.label}}</h4>
            </div>
            <div class="ratio ratio-1x1 w-75">
                <img src="static/icons/{{s.id}}.{{s.icon_filetype}}" class="img-fluid">
            </div>
        </div>
    </div>
    {% endfor %}

</body>

</html>